<!doctype html>
<html>
    <body>
        <h1 style="color: #4169E1">UAM 위치&고도 정보</h1>
        <h2>UAM 거리</h2>
        <ol>
            <p>거리1 거리2</p>
                {% for num1 in num1 %}
                {{ num1 }} <!-- 받아온 데이터 출력 -->
                {% endfor %}
        </ol>        
        <h2>UAM 고도</h2>
        <ol>
            <p>고도1</p>
                {% for num2 in num2 %}
                {{ num2 }}m <!-- 받아온 데이터 출력 -->
                {% endfor %}

            <p>고도2</p>

                {% for num2 in num2 %}
                {{ num2 }}m <!-- 받아온 데이터 출력 -->
                {% endfor %}

        </ol>
        <img src="uam.jpeg">
    </body>
    <meta http-equiv="refresh" content="2">
</html>
